img {
    width: 250px;
}

html, body {
    /* position: relative; */
}

body::after {
content: "";
background: url("../images/background.jpg");
background-size: cover;
opacity: 0.5;
top: 0;
left: 0;
bottom: 0;
right: 0;
position: fixed;
z-index: -1;
height: 100%;   
}

h1 {
    font-family: 'Lalezar', cursive;
    font-size: 3rem;
}

.character {
    background: #fff;
    padding: 2px;
}

.name {
    padding: 5px;
    margin-bottom: 0;
    font-weight: bold;
}

.char-choice, .enemy-choice {
    cursor: pointer;
}

.enemy-choice {
    background: red;
    color: white;
}

.player-score {
    margin-bottom: 0;
}




.hide {
    display: none;
}

.chosen {
    border: 2px solid green;
}

.chosen-enemy {
    border: 2px solid red;
    background: #fff;
    color: black;
}
